@import "variables";

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
h1 {
  font-family: $heading-font;
  font-size: 64px;
}
a {
	color: black;
	text-decoration: none;
}
button {
	background-color: $grey;
	clear: both;
    position: relative;
    top: 50px;
    cursor:pointer;
    border: 8px solid white;
    width:120px;
    height:50px;
    margin-left: 35%;
    font-size: 12px;
    color: black;
    font-family: $body-font;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus {
	outline: none;
}
header {
	padding-bottom: 15px;
	background-color: white;
	height: 50px;
	width: 100%;
	position: fixed;

	img, h2, p, button {
		display: inline-block;
		position: relative;
		padding: 2px;
	}
	.left {
		margin-left: 10px;
		float: left;
	}
	.right {
		float: right;
		margin-right: 20px;
	}
	div > img {
		top: 10px;
	}
	button {
		clear: none;
		top:0px;
		margin-left: 0;
	}
}
body {
  font-family: $body-font;
  background-color: $grey;
}
.container {
  width: 100%;
  height: 100%;
}
.auth {
	width: 450px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: $green1;
	h3 {
		background-color: $blue1;
		height: 45px;
		font-size: 20px;
		padding-top: 10px;
	}
	h3, p {
		text-align: center;
	}
	small {
		text-align: center;
		color: white;
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	p {
		color: white;
		padding-top: 20px;
		cursor: pointer;
	}
	p:hover {
		opacity: 0.8;
	}
	.signup {
		display: none;
	}
	form {
		div {
			padding: 15px;
		}
		input {
			height: 50px;
			display: block;
			width: 85%;
			margin: 0 auto;
			font-family: $body-font;
			font-size: 14px;
		}
		button {
			top: 20px;
		}
	}
}
.dashboard {
	height: 100vh;
	.list, .submit-form {
		height: inherit;
	}
	section > div {
		margin-top: 150px;
		margin-left: 2%;
	}
	.list {
		background-color: $blue1;
		float: right;
	    width: 70%;
	    div {
	    	width: 80%;
	    	margin-left: 15px;
	    }
	    div > div {
	        border-radius: 4px;
	    	width: inherit;
	    	height: 40px;
	    	text-transform: capitalize;
	    	background-color: rgba(255, 255, 255, 0.8);
	    	margin-bottom: 5px;
	    }
	    .checkbox > input {
	    	display: inline-block;
	    	margin-top: 12px;
	    	margin-left: 10px;
	    }
	    .checkbox:hover {
	    	opacity: 0.8;
	    }
	    .todos {
	    	float: left;
	    }
	    .sidebar {
	    	position: absolute;
	    	width: 30%;
	        height: 100%;
	    	background-color: $grey;
	    	right: 0px;
	    	margin-top: 65px;
	    	display: none; 
	    	.details {
	    		margin-top: 40px;
	    	}
	    	.details > div {
	    		margin-top: 10px;
	    		background-color: transparent;
	    		background: transparent;
	    	}
	    	img {
	    		float: right;
	    		padding: 10px;
	    	}
	    }
	}
	.submit-form {
		float: left;
		width: 30%;
		form > label {
			width: 130px;
		    text-align: left;
		    clear: both;
		    float:left;
		    margin-left:15px;
		    height: 30px;
		}
		input, select {
		    height: 20px;
		    width: 220px;
		    float: left;
		}
		.submit-button {
			clear: both;
		    display: block;
		    position: relative;
		    top: 50px;
    		background:url(/img/add121.png) no-repeat;
		    cursor:pointer;
		    border:none;
		    width:100px;
		    height:100px;
		    margin-left: 45%;
		}
		input, select, label {
			margin-top: 10px;
		}
	}
}
#visualization {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}
.help-block {
	width: 130px;
	margin-left: 15px;
}
.help-block > small {
	display: inline;
	height: 20px;
	clear: both;
	color: red;
}

.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: $green1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

@media screen and (max-device-width: 320px) {
  .sideb
}