<div ng-controller="TodoCtrl">
    <div class="jumbotron text-center">
        <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div class="checkbox" ng-repeat="todo in todos">
                <label>
                    <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.title }}
                </label>
            </div>

        </div>
    </div>
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <label>Title</label><input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.title">
                    <label>Priority</label><input type="number" class="form-control input-lg text-center" ng-model="formData.priority">
                    <label>Description</label><input type="text" class="form-control input-lg text-center" ng-model="formData.description">
                     <label>Day of the Week</label><input type="text" class="form-control input-lg text-center" ng-model="formData.dayOfWeek">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div>
    <button id="start-visual"><a href="#/radar">Visualize</a></button>
</div>