<div id="date-details">
	<a href="/#/"><img src="img/back28.png"></a>
</div>
<div id="visualization">
</div>
<style>
	.task-text {
		fill:#ffffff;
		text-transform: uppercase;
	}
	.text-box {
		height: 20px;
	}
	#date-details {
		position: absolute;
		margin-top: 100px;
		margin-left: 15px;
		height: 100%;
	}
	#date-details > a {
		display: block;
		width: 40px;
		height: 50px;
		position: absolute;
		bottom: 100px;
		z-index: 9999;
	}
	.date {
		font-size: 18px;
		color: black;
	}
	#week {
		color: #00BCD1;
		padding-bottom: 15px;
		border-bottom: 2px solid white;
	}
</style>
